.dropdown-wrapper {
    position: relative;
}

.dropdown-wrapper select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 30px; /* Space for the icon */
}

.dropdown-wrapper::after {
    content: "▼";
    font-size: 12px;
    color: #555;
    position: absolute;
    top: 50%;
    right: 10px;
    pointer-events: none;
    transform: translateY(-50%);
}

.swal-custom-confirm {
    background-color: #7d5fff !important;  /* Light violet background */
    color: white !important;               /* White text color */
    border: 2px solid #b392ff !important;  /* Light purple border */
    padding: 10px 20px !important;
    font-size: 16px !important;
    border-radius: 8px !important;         /* Rounded corners */
    box-shadow: 0px 0px 8px rgba(125, 95, 255, 0.6) !important; /* Glow effect */
}